{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
    <a href="

    <div data-gb-custom-block data-tag="url" data-0='post_detail'></div>
    
    ">Comments: {{ post.comments.count }}</a>
{% endblock %}